@{
    ViewBag.Title = "API Mail Server";
}

<div class="jumbotron">
    <h1>API Mail Server - Bare Bones Reference Code</h1>
    <p class="lead">API mail server is a modern replacement to the now ancient email system.  The key difference is that an API is called, rather than a network level port.  Email addresses remain the same and are parsed to construct a standard url (i.e. http://mydomain.com/mail/submit) to which a BSON payload is sent.  This makes transitioning from existing email technologies to API-based mail a simple process of extension, rather than a complete break with existing approaches.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>